In [3]:
import pandas as pd

# Load the CSV file
file_path = 'Resources/filtered_population_fertility_gdp_2014_2024.csv'
df = pd.read_csv(file_path)

In [4]:
# Rename columns to avoid duplicates and confusion
df.columns = [
    'Fertility_Series_Name', 'Fertility_Series_Code', 'Country_Name', 'Country_Code',
    'Year', 'Fertility_Rate', 'GDP_Series_Name', 'GDP_Series_Code', 'GDP'
]

In [5]:

# Drop any unnecessary or extra columns (if needed)
df = df[['Country_Name', 'Country_Code', 'Year', 'Fertility_Rate', 'GDP']]

In [6]:

# Fill any missing values if required (e.g., using forward fill or mean for numeric columns)
df['Fertility_Rate'].fillna(method='ffill', inplace=True)
df['GDP'].fillna(df['GDP'].mean(), inplace=True)

C:\Users\jwidc\AppData\Local\Temp\ipykernel_22828\2717728432.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Fertility_Rate'].fillna(method='ffill', inplace=True)
C:\Users\jwidc\AppData\Local\Temp\ipykernel_22828\2717728432.py:2: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Fertility_Rate'].fillna(method='ffill', inplace=True)
C:\Users\jwidc\AppData\Local\Temp\ipykernel_22828\2717728432.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GDP'].fillna(df['GDP'].mean(), inplace=True)

In [7]:
# Save the cleaned data to CSV and JSON
df.to_csv('final_population_fertility_gdp.csv', index=False)
df.to_json('final_population_fertility_gdp.json', orient='records', lines=True)

In [8]:
# Show the first few rows of the cleaned dataframe to verify
df.head()

                  Country_Name Country_Code  Year  Fertility_Rate          GDP
0                  Afghanistan          AFG  2014        5.560000   626.512929
1                  Afghanistan          AFG  2014        5.560000    -0.964803
2  Africa Eastern and Southern          AFE  2014        4.739861  1678.553610
3  Africa Eastern and Southern          AFE  2014        4.739861     1.175570
4   Africa Western and Central          AFW  2014        5.437493  2248.518426